ul {
  list-style-type: none;
}

h1,
h2 {
  font-family: "IBM Plex Mono", monospace;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 200px minmax(300px, 800px) 1fr;
}

.menu {
  grid-column: 3 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #fb5;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.menu li a {
  display: block;
  text-decoration: none;
  margin-right: 20px;
}

#pokemon-select {
  grid-column: 2/3;
}

#pokemon-infos {
  grid-column: 3/4;
}
