.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1.5rem 0;
  background: #fb5;
  align-items: center;
  grid-column: 3 / 5;
}

.menu h1 {
  font-size: 2.5rem;
  color: white;
  margin: 0 40px;
}

.menu a {
  display: block;
  font-size: 2rem;
  text-decoration: none;
  margin-right: 20px;
  text-align: right;
}

@media (width <= 850px) {
  body {
    margin: 0;
  }
  .menu {
    grid-column: 1 / -1;
    margin: 0.5rem 0;
    justify-content: center;
  }
}

@media (width <= 450px) {
  .menu h1 {
    font-size: 2rem;
  }
  .menu a {
    margin-right: 0;
  }
}
