#pokemon-select {
  grid-column: 2/3;
  border-right: 1px solid grey;
  padding-right: 3rem;
}

#form-select {
  align-items: center;
}

#form-select select {
  text-align: center;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
}

#form-select select:invalid {
  color: grey;
}

[data-img] {
  display: none;
}

[data-img].ativo {
  display: flex;
  justify-content: start;
  margin-top: 3rem;
}

@media (width <= 855px) {
  #pokemon-select {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 0;
    border-right: none;
    border-bottom: 1px solid grey;
  }

  #pokemon-select h1 {
    text-align: center;
    margin: 0.5rem 0;
  }

  #form-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0;
    margin: 1rem 0;
  }

  #form-select select {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
  }

  [data-img].ativo {
    justify-content: center;
    margin: 1rem 0;
  }
}

@media (width <= 590px) {
  #pokemon-select {
    margin: 0 10px;
  }
}
