.sectionInfos {
  grid-column: 2/-1;
  display: grid;
  grid-template-columns: 96px 1fr;
  text-transform: capitalize;
  /* flex-direction: column; */
}

.sectionInfos h1 span {
  text-transform: lowercase;
}

.divStats {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: inherit;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  font-family: Roboto;
}

.bgDark {
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: 96px 1fr 1fr;
  column-gap: 20px;
  align-items: center;
  padding: 40px 60px;
  background-color: #353535;
  z-index: -1000;
}

.qualities {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.qualities h4 {
  display: flex;
  gap: 20px;
  align-items: center;
  font-weight: 500;
  color: white;
}

.qualities span {
  font-weight: 400;
  color: #ffbb11;
}

.qualities h4 div {
  display: flex;
  gap: 4px;
}

.qualities h4 div span {
  padding: 4px 8px;
  border-radius: 4px;
  background: #4a4a4a;
}

.divStatsValues {
  grid-column: 3 / -1;
  display: grid;
  gap: 16px;
}

.divStat {
  display: grid;
  grid-template-columns: 140px 150px 1fr;
  align-items: center;
}

.divStat h4:first-child {
  font-weight: 500;
  color: white;
}

.divStat h4:last-child {
  font-weight: 400;
  color: #ffbb11;
  margin-left: 20px;
}

.divStat .statBg,
.divStat .statBar {
  height: 4px;
  border-radius: 4px;
}

.statBg {
  background-color: white;
  z-index: -10;
}

.statBar {
  z-index: 10;
}

.divButton {
  grid-column: 1 / -1;
  place-self: center;
  transition: 0.3s;
}

.divButton:hover {
  transform: translateY(-3px);
}

.button {
  padding: 15px 120px;
  border: none;
  border-radius: 2px;
  background: linear-gradient(#ffc636, #c98f00);
  color: black;
  font-weight: 600;
  cursor: pointer;
}

@media (width<=1050px) {
  .bgDark {
    grid-column: 1 / -1;
  }
}

@media (width <= 850px) {
  .bgDark {
    grid-template-columns: 48px 1fr 1fr;
    column-gap: 12px;
    padding: 40px 32px;
  }
  .divStat {
    grid-template-columns: 130px 100px 1fr;
  }
  .divStat h4:last-child {
    margin-left: 12px;
  }
}

@media (width <= 680px) {
  .divStats {
    grid-template-columns: 1fr;
  }
  .bgDark {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 40px;
    padding: 32px 16px;
  }
  .divImg,
  .qualities,
  .divStatsValues {
    grid-column: 1 / -1;
    place-self: center;
  }
  .qualities {
    display: grid;
    align-items: center;
  }
  .qualities h4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: right;
  }
  .qualities h4 span {
    text-align: left;
  }
  .divStat {
    grid-template-columns: 1fr 2fr 1fr;
    gap: 12px;
  }
  .divStat h4:last-child {
    text-align: center;
  }
}

@media (width <= 600px) {
  .sectionInfos {
    grid-template-columns: 1fr;
    grid-column: 1 / -1;
    align-items: center;
    padding: 0;
  }
  .sectionInfos h1 {
    grid-column: 1/-1;
    place-self: center;
  }
}

@media (width <= 450px) {
  .divStats {
    margin-bottom: 40px;
  }
}

@media (width <= 400px) {
  .divStatsValues {
    font-size: 16px;
  }
  .button {
    padding: 15px 60px;
    line-height: 1.5;
  }
  .sectionInfos h1 {
    font-size: 24px;
  }
}
